@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-red: #ff6060;
  --main-grey: #f7f7f7;
  --main-lightgrey: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}
