@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --main-red: #ff6060;
  --main-grey: #f7f7f7;
  --main-lightgrey: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background-color: var(--main-lightgrey); */
}

.container {
  width: 70%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  height: 70px;
  width: 200px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: var(--main-red);
}

nav ul li:first-child a {
  margin-right: 25px;
}

nav ul a:active {
  text-decoration: underline;
}

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("img/shore_banner.png");
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 16px;
}

.gallery {
  background-color: var(--main-grey);
  margin-top: 45px;
  border-radius: 25px;
  padding: 56px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 50px 60px;
  grid-auto-rows: 340px;
  place-content: center;
  min-width: 400px;
}

/**********TEST*****************/

.thumb {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("img/thumb.jpg");
  background-size: cover;
}

.thumb:hover {
  background-image: url("img/thumb.jpg");
  cursor: pointer;
}

.thumb-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.12rem;
  width: 100px;
}

footer {
  margin-top: 15px;
  background-color: #000;
  height: 210px;
  text-align: center;
  padding: 66px 0 29px 0;
  color: #fff;
}

footer img {
  height: 40px;
  margin-bottom: 30px;
}

footer p {
  font-size: 24px;
}

/********************************/

/* Iphone 8 */
/* @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) { */
@media (max-width: 650px) {
  .container {
    width: 335px;
    margin: 0 auto;
  }

  nav {
    font-size: 12px;
  }

  .logo {
    height: 70px;
    width: 100px;
    cursor: pointer;
  }

  .banner {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("img/shore_banner_small.png");
    height: 111px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .gallery {
    padding: 0;
    background-color: transparent;
    margin-top: 22px;
    display: grid;
    grid-template-columns: 335px;
    grid-gap: 20px 0;
    grid-auto-rows: 255px;
    place-content: center;
    min-width: 350px;
  }

  footer p {
    font-size: 12px;
  }
}
